# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Epulapp\Desktop\Mes fichiers\Sma cours +tp\TP_TriCollectif_CARDOSO MORENO_ VIRARAGAVANE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
